.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 12px 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}



.nav-links a:hover {
  color: #007bff;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transition: opacity 0.3s;
}

.social-icon:hover {
  opacity: 0.7;
}
.navbar-input{

  width: 400px;
}
.navbar-right {
  display: flex;
  gap: 12px; /* ikonlar arası boşluk */
  align-items: center;
}
.dropdown-content {
  position: absolute;
  top: 60px; /* navbar'ın biraz altı */
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 200px;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f5f5f5;
}
