# Bağımlılıklar
node_modules

# Build Çıktıları
build
dist

# Versiyon Kontrol
.git
.gitignore

# Ortam Değişkenleri (GÜVENLİK İÇİN ÇOK ÖNEMLİ)
.env
.env.local
.env.*

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log