.form-container {
  width: 400px;
  margin: 0 auto;
  font-family: Arial;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
}

.form-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #f1f1f1;
}

.form-tabs .active {
  background: #ffa500;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-top: 10px;
}

.form input[type="email"],
.form input[type="password"] {
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.gender-options {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.checkbox-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.captcha-box {
  margin-top: 10px;
}

.submit-button {
  margin-top: 15px;
  padding: 10px;
  background-color: #ffa500;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.btn-button {
   margin-top: 15px;
  padding: 10px;
  background-color: #ffa500;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}